$color-dark-blue: #24282f;
$color-gold: #b5a263;
$color-white: #fff;
$color-grey: #61656b;
$color-dark-grey: #2b2f35;
$color-light-grey: #f7f7f7;

$default-font-size: 1.6rem;

$wrapper-width-1: 139rem;
$wrapper-width-2: 112rem;
