@font-face {
    font-family: 'PFDinTextCompPro Thin';
    src: url('../fonts/PFDinTextCompPro-Thin/pfdintextcomppro-thin-webfont.eot');
    src: url('../fonts/PFDinTextCompPro-Thin/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinTextCompPro-Thin/pfdintextcomppro-thin-webfont.woff2') format('woff2'),
         url('../fonts/PFDinTextCompPro-Thin/pfdintextcomppro-thin-webfont.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Thin/pfdintextcomppro-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCompPro Medium';
    src: url('../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-medium-webfont.woff2') format('woff2'),
         url('../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flow';
    src: url('../fonts/Flow/flow-webfont.eot');
    src: url('../fonts/Flow/flow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flow/flow-webfont.woff2') format('woff2'),
         url('../fonts/Flow/flow-webfont.woff') format('woff'),
         url('../fonts/Flow/flow-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN CSS */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'PFDinTextCompPro Thin', sans-serif;
	font-size: 16px;
	color: #959595;
	overflow-x: hidden;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

a {
	text-decoration: none;
	color: #959595;
}

/* HEADER */

header {
	padding: 10px 20px 0;
	position: relative;
}

.logo {
	width: 140px;
	position: absolute; 
	top: 10px; 
	left: 50%; 
	transform: translateX(-50%);
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 0 24px #fff;
	z-index: 5;
}


/* general row (top and menu) */
.top-row .left,
.menu-row .left {
	float: left;
	width: 50%;
}

.top-row .right,
.menu-row .right {
	float: right;
	width: 50%;
	text-align: right;
}

.top-row .right > * {
	display: inline-block;
}

/* top row */
.top-row {
	width: 100%;
	font-size: 18px;
	line-height: 28px;
}

.top-row .left > p {
	padding-left: 25px;
	position: relative;
}

.top-row .left > p::before {
	content: "";
    background: url(../images/css_sprites.png) -194px -120px;
    width: 20px;
    height: 27px;
    position: absolute;
    bottom: 7px;
    left: 0;
}

.top-row .left > p + p::before {
    background: url(../images/css_sprites.png) -131px -191px;
    width: 28px;
    height: 12px;
    left: -10px;
}

.top-row .right > .search > input {
	width: 195px;
	margin-right: 40px;
    outline: none;
    border: none;
    font-family: 'PFDinTextCompPro Thin', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #65baaf;
}

.top-row .right > .search {
	position: relative;
	cursor: pointer;
}

.top-row .right > .search::after {
	content: "";
	background: url(../images/css_sprites.png) -106px -120px;
    width: 34px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.top-row .right > .languages > li {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
}

.top-row .right > .languages > li > a {
	display: inline-block;
	position: relative;
	padding: 8px;
}

.top-row .right > .languages > li > a.active,
.top-row .right > .languages > li > a:hover {
	color: #fff;
 	z-index: 10;
}

.top-row .right > .languages > li > a.active::before,
.top-row .right > .languages > li > a:hover::before {
    content: "";
    background: url(../images/css_sprites.png) -233px -5px;
    width: 32px;
    height: 52px;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.top-row .right > .languages > li > a:hover::before {
	background: url(../images/css_sprites.png) -233px -67px;
}

/* menu row */
.menu-row {
	width: 100%;
	padding: 35px 0 15px;
}

.menu-row > ul > li {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

.menu-row > ul.left > li:not(:first-child) {
	padding-left: 10px;
}

.menu-row > ul.right > li:not(:last-child) {
	padding-right: 10px;
}

.menu-row > ul > li > a {
	color: #000;
}

.menu-row > ul > li > a:hover {
	border-bottom: 2px solid #65baaf;
}

/* SLIDER */
.slider {
	position: relative;
}

.slider::before {
	content: "";
	background: url("../images/css_sprites.png") -129px -5px;
	width: 94px;
	height: 56px;
	position: absolute;
	top: 15%;
	left: 0;
	z-index: 5;
}

.slider-item {
	position: relative;
	font-size: 0;
	display: none;
}

.slider-item.active {
	display: block;
}

.slider-item > img {
	max-height: 590px;
	width: 100%;
	min-height: 590px;
	object-fit: cover;
    text-align: center;
    color: #fff;
}

.slider-item > .slider-overlay  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	padding: 60px;
	color: #fff;
}

.slider-item > .slider-overlay > .slider-wrapper {
	max-width: 820px;
	margin: 0 auto;
	text-align: center;
}

.slider-item > .slider-overlay > div > .text-above {
	font-family: 'PFDinTextCompPro Thin', sans-serif;
	font-size: 20px;
	letter-spacing: 0.43px;
	text-transform: uppercase;
}

.slider-item > .slider-overlay > div > .title {
	font-family: 'PFDinTextCompPro Medium', sans-serif;;
	font-size: 72px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin: 90px 0 55px;
}

.slider-item > .slider-overlay > div > .description {
	font-family: 'Flow', sans;
	font-size: 32px;
	line-height: 36px;
}

.slider-nav {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.slider-nav > ul > li {
	display: inline-block;
	background: url("../images/css_sprites.png") -198px -71px;
	width: 25px;
	height: 25px;
	margin: 6px;
	cursor: pointer;
	border-radius: 50%;
}

.slider-nav > ul > li:hover {
	background: url("../images/css_sprites.png") -65px -130px;
	width: 25px;
	height: 25px;
}

.slider-nav > ul > li.active {
	background: url("../images/css_sprites.png") -59px -120px;
	width: 37px;
	height: 37px;
	position: relative;
	top: 7px;
	left: 0;
}

/* WELCOME */
.welcome {
	position: relative;
	text-align: center;
	max-width: 460px;
	margin: 0 auto;
	font-size: 0;
}

.welcome::before {
	content: "";
	background: url("../images/boy-on-bicycle.png");
	width: 311px;
	height: 346px;
	position: absolute;
	top: 53px;
	right: calc(100% + 62px);
}

.welcome::after {
	content: "";
	background: url("../images/girl-with-bouquet.png");
	width: 204px;
	height: 323px;
	position: absolute;
	top: 25px;
	left: calc(100% + 97px);
}

.welcome > h1 {
	font-size: 36px;
	line-height: 40px;
	padding: 35px 20px 80px;
}

.welcome > h1 > img {
	width: 100%;
	padding-top: 50px;
}

/* PRODUCTS */
.products {
	position: relative;
}

.products::before {
	content: "";
	border-top: 1px solid #cdcdcd;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.products::after {
	content: "";
	background: url("../images/css_sprites.png") -5px -120px, #fff;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 0 20px #fff;
}

.products h2 {
	text-align: center;
	color: #65baaf;
	font-family: 'Flow', sans;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 50px 0;
}

.products > .wrapper {
	font-size: 0;
}

.products > .wrapper > div {
	display: inline-block;
	font-size: 16px;
}

.cookbook {
	position: relative;
	float: left;
	width: 70%;
}

.cookbook > img {
	width: 100%;
	position: relative;
	top: 0;
	left: -45px;
	pointer-events:none;
}

.cookbook > p {
	color: #fff;
	font-size: 20px;
	padding: 20px 10px 40px;
	max-width: 25%;
	background: url("../images/bookmark-1.png") top left / cover;

	position: absolute;
	top: 4%;
	left: 12%;
	cursor: pointer;
	transition: all .1s ease;
}

.cookbook > p + p {
	left: 38%;
	background: url("../images/bookmark-2.png") top left / cover;
}

.cookbook > p + p + p {
	left: 57%;
	background: url("../images/bookmark-3.png") top left / cover;
}

.cookbook > p:hover,
.cookbook > p.active {
	top: 2%;
	background: url("../images/bookmark-active.png");
}

.cookbook .product-picture {
	position: absolute;
	top: 26%;
	left: 11%;
	max-width: 32%;
	min-width: 150px;
}

.cookbook .product-picture > img {
	width: 100%;
}

.cookbook .product-picture > p {
	text-align: center;
	margin-top: 14%;
	opacity: 0.7;
	color: #8f5926;
	font-family: "PFDinTextCompPro Medium", sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

.cookbook .product-picture > p:hover {
	color: #65baaf;
}

.cookbook .product-description {
	position: absolute;
	top: 23%;
	right: 19%;
	max-width: 32%;
	text-align: center;
}

.cookbook .product-description > .title {
	color: #caa977;
	font-family: "PFDinTextCompPro Medium", sans-serif;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 22%;
}

.cookbook .product-description > .title:after {
	content: "";
	position: absolute;
	background: url("../images/css_sprites.png") -131px -173px;
	width: 45px;
	height: 8px;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
}

.cookbook .product-description > p {
	color: #7d7d7d;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 10px;
}

.cookbook .navigation {
	margin-top: 24%;
}

.cookbook .navigation > p {
	display: inline-block;
	color: #caa977;
	font-family: "PFDinTextCompPro Medium", sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	padding: 0 42px 0 0;
	margin: 0 7px 0;
	cursor: pointer;
}

.cookbook .navigation > p:hover {
	color: #65baaf;
}

.cookbook .navigation > p::before {
	content: "";
	width: 32px;
	height: 31px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.cookbook .navigation > .left::before {
	background: url("../images/css_sprites.png") -233px -129px;
	right: 0;
}

.cookbook .navigation > .left:hover::before {
	background: url("../images/css_sprites.png") -5px -173px;
}

.cookbook .navigation > .right {
	padding: 0 0 0 42px;
}

.cookbook .navigation > .right:before {
	background: url("../images/css_sprites.png") -47px -173px;
	left: 0;
}

.cookbook .navigation > .right:hover::before {
	background: url("../images/css_sprites.png") -89px -173px;
}

.new-product {
	float: right;
	width: 30%;
	text-align: center;
	position: relative;
}

.new-product::before,
.new-product::after {
	content: "";
	width: 17px;
	height: 13px;
	position: absolute;
	bottom: 28%;
	cursor: pointer;
}

.new-product::before {
	background: url("../images/css_sprites.png") -5px -214px;
	left: 0;
}

.new-product::after {
	background: url("../images/css_sprites.png") -32px -214px;
	right: 0;
}

.new-product > div > img {
	/*width: 100%;*/
	padding: 150px 0 0;
	position: relative;
}

.new-product > div::before {
	content: "";
	background: url("../images/css_sprites.png") -129px -71px;
	width: 59px;
	height: 32px;
	position: absolute;
	top: 10%;
	left: 60%;
}

.new-product > div::after {
	content: "";
	background: url("../images/css_sprites.png") -5px -5px;
	width: 114px;
	height: 105px;
	position: absolute;
	top: 17%;
	left: 38%;
}

.new-product > p {
	text-align: center;
}

.new-product > .title {
	font-family: "PFDinTextCompPro Medium", sans-serif;
	color: #65baaf;
	font-size: 24px;
	margin: 5px 0;
}

